:root {
    --clr-primary-blue: hsl(215, 51%, 70%);
    --clr-primary-cyan:  hsl(178, 100%, 50%);
    --bg-main: hsl(217, 54%, 11%);
    --bg-card: hsl(216, 50%, 16%);
    --border: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --ff-main: 'Outfit', Arial, sans-serif;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fs-main: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    font-weight: var(--fw-400);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    background-color: var(--bg-card);
    border-radius: 1rem;
}

.image-container {
    position: relative;
    height: 300px;
    width: 300px;
}

.image-container:hover .main-image,
.image-container:active .main-image {
    opacity: .3;
}

.image-container:hover .hover-image,
.image-container:active .hover-image{
    opacity: 1;
}

.main-image {
    height: 100%;
    width: auto;
    border-radius: .8rem;
    opacity: 1;
}

.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s;
}


h1 {
    color: var(--white);
    font-weight: var(--fw-600);
    font-size: 24px;
    padding: 0;
    margin: 1.4rem 0;
}

h1:hover,
h1:active {
    color: var(--clr-primary-cyan);
    cursor: pointer;
}

.container p {
    margin-top: 0;
    color: var(--clr-primary-blue);
    font-weight: var(--fw-300);
}

.price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.left,
.right {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.left p,
.right p {
    margin: auto;
}

.left img,
.right img {
    margin-right: 5px;
    height: 18px;
    width: auto;
}

.left p {
    color: var(--clr-primary-cyan);
    font-weight: var(--fw-600);
}

.right p {
    font-size: .89em;
}

.avatar {
    height: 40px;
    width: 40px;
}

.container>div:nth-last-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;

}

.container>div:nth-last-of-type(1) img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 50%
}

.container>div:nth-last-of-type(1) p {
    margin: 0;
}

span {
    font-weight: var(--fw-600);
    color: var(--white);
}

span:hover,
span:active {
    color: var(--clr-primary-cyan);
    cursor: pointer;
}






@media (max-width: 375;){

    
}